.field-email_newsletter {
    margin: 3em 0;
    padding: 1em 10px 0.5em 10px;
    border: 1px solid #e4e4de;
    background: #e8e8e4;
    background: #f5f5f3;
}

.field-email_newsletter h3 {
    margin-bottom: 1em;
    font-size: 110%;
}

.field-email_newsletter p {
    margin-bottom: 1em;
}

.field-email_newsletter select {
    margin-bottom: 1em;
}

.field-email_newsletter .recipient-groups {
    margin-bottom: 1em;
}

.field-email_newsletter .recipient-group {
    margin-bottom: 0.25em;
}

.field-email_newsletter .recipient-group input[type=checkbox] {
    margin-right: 0.5em;
}

.field-email_newsletter table.status {
    margin-bottom: 1em;
    border-collapse: collapse;
}

.field-email_newsletter table.status th,
.field-email_newsletter table.status td {
    padding-right: 1em;
    text-align: left;
}
