.email-newsletters-gui {
    padding: 1em 10px 0.5em 10px;
    border-top: 1px solid #c7c7c7;
    border-right: 1px solid #d9d9d9;
    border-bottom: 1px solid #c2c2c2;
    border-left: 1px solid #d9d9d9;
    background: #e9e9e7;
    background: #f5f5f3;
}

.field-email_newsletter_manager label {
    margin-bottom: 3px;
}

.email-newsletters-gui label {
    margin-top: 0;
    margin-bottom: 3px;
}

.email-newsletters-gui p.status {
    display: block;
    width: 100%;
    margin-top: -12px;
    margin-left: -11px;
    padding: 0.5em 10px;
    border-top: 1px solid #c7c7c7;
    border-right: 1px solid #d9d9d9;
    border-bottom: 1px solid #d9d9d9;
    border-left: 1px solid #d9d9d9;
    color: #E3DEDB;
    background-color: #423A3A;
}

.email-newsletters-gui p.status.idle {
    color: #222222;
    background-color: #ebebe9;
}

.email-newsletters-gui p.status.completed {
    border-top: 1px solid #61990c;
    border-right: 1px solid #6fa721;
    border-bottom: 1px solid #6fa721;
    border-left: 1px solid #6fa721;
    color: white;
    background-color: #81B934;
}

.email-newsletters-gui p.status.error {
    border-top: 1px solid #c1290a;
    border-right: 1px solid #ce3615;
    border-bottom: 1px solid #ce3615;
    border-left: 1px solid #ce3615;
    color: white;
    background-color: #DD4422;
}

.email-newsletters-gui p.status.stopped {
    border-top: 1px solid #bfc07c;
    border-right: 1px solid #CCCC88;
    border-bottom: 1px solid #CCCC88;
    border-left: 1px solid #CCCC88;
    color: #555555;
    background-color: #FFFFBB;
}

.field-email_newsletter_manager p {
    margin-bottom: 1em;
}

.field-email_newsletter_manager select {
    margin-bottom: 1em;
}

.field-email_newsletter_manager .recipient-groups {
    margin-bottom: 1em;
}

.field-email_newsletter_manager .recipient-group {
    margin-top: 0;
    margin-bottom: 0.3em;
}

.field-email_newsletter_manager .recipient-group input[type=checkbox] {
    margin-right: 0.5em;
}

.field-email_newsletter_manager table.status {
    margin-bottom: 1em;
    border-collapse: collapse;
}

.field-email_newsletter_manager table.status th,
.field-email_newsletter_manager table.status td {
    padding-right: 10px;
    text-align: left;
}

.field-email_newsletter_manager button {
    margin-bottom: 10px;
}
